expected_count_bias_metric_df.rds
expected_count_values_features_fit.rds
expected_count_values_fit.rds
expected_count_values_fit_features_glance.rds
expected_count_values_fit_features_tidy.rds
expected_count_values_fit_genus_glance.rds
expected_count_values_fit_genus_tidy.rds
expected_count_values_fit_glance.rds
expected_count_values_fit_tidy.rds
expected_count_values_genus_fit.rds
expected_counts_df.rds
feature_categories_df.rds
feature_specificity_counts_df.rds
feature_specificity_df.rds
genus_categories_df.rds
genus_info_df.rds
genus_rep_info_df.rds
logFC_DESeq2_df.rds
logFC_MgSeq_df.rds
logFC_calc_df.rds
logFC_edgeR_df.rds
nb_expected_count_values_feature_df.rds
nb_expected_count_values_genus_df.rds
normalize_count_df.rds
normalize_count_variance_df.rds
ps_obj-2016-04-25.rds
raw_counts_good_feature_categories.rds
raw_counts_matrix_good_feature_categories.rds
